# This file should be placed in your project root

# MISC FILES
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
.cache
.DS_Store
Thumbs.db
.idea
.project
.settings
.buildpath
.wafpickle-N
.lock-wscript
*.vi
*~
._*
.~lock.*
*.esproj
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
prepros-6.config
.hg
.svn
.CVS
CVS
intermediate
publish
.idea
_notes
